// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
.client-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .client-info {
        display: flex;
        justify-content: space-around;
        .orders-count {
            font-weight: bold;
            padding: 0 5px;
            color: orangered;
        }
        span {
            color: crimson;
            font-weight: bold;
            letter-spacing: 5px;
            padding-left: 20px;
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.order-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .order-info {
        display: flex;
        justify-content: space-around;
        .order-data {
            width: 300px;
        }
        .client {
            color: skyblue;
            font-weight: bold;
            letter-spacing: 5px;
            padding-right: 20px;
            width: 300px;
            text-decoration: none;
            transition: all .3s;
            &:hover {
                color: darken(skyblue, 30%);
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.sort-filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
    button,
    a {
        top: -6px;
        position: relative;
    }
}

.order-line.active {
    background-color: lightcyan;
    padding: 4px;
}

.client-line.active {
    background-color: lightcyan;
    padding: 4px;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.226);
}